<button routerLink="/mi-perfil">Mi perfil</button>
@switch (this.perfil) {
    @case ("admin") 
    {
        <button routerLink="/solicitar-turno">Solicitar turno</button>
        <button routerLink="/turnos">Turnos</button>
    }
    @case ("paciente") 
    {
        <button routerLink="/solicitar-turno">Solicitar turno</button>
        <button routerLink="/mis-turnos">Mis turnos</button>
    }   
    @case ("especialista") 
    {
        <button routerLink="/mis-turnos">Mis turnos</button>
    }
}
