@if(auth.usuarioActual !== null) {
<div class="nav-header">
  <div class="nav-container">
    <a href="/" class="logo">Clínica Online</a>
    
    <div class="nav-buttons">
        <button routerLink="/home" class="nav-btn btn-home">Home</button>
        @if(perfil_usuario === "admin")
        {
          <button routerLink="/seccion-usuarios" class="nav-btn btn-admin">Administración</button>
        }
        <button (click)="logOut()" class="nav-btn btn-logout">Cerrar Sesión</button>
    </div>
  </div>
</div>
}
<router-outlet />