<div class="registro-container">
  <div class="registro-header">
    <h1>Clínica Online</h1>
    <p>Selecciona tu tipo de registro</p>
  </div>
  
  <div class="registro-buttons">
    <div class="registro-option" (click)="navigateToUsuarios()">
      <button class="btn-circular usuario-btn">
        <img src="assets/registro/usuario.png" alt="Paciente" class="btn-image">
      </button>
      <h3>Paciente</h3>
    </div>
    
    <div class="registro-option" (click)="navigateToEspecialistas()">
      <button class="btn-circular especialista-btn">
        <img src="assets/registro/especialista.png" alt="Especialista" class="btn-image">
      </button>
      <h3>Especialista</h3>
    </div>
  </div>
</div>